In [1]:
import pandas as pd
credits = pd.read_csv('D:\\Shubhi\\DataScience\\MoviesRecommendation\\MovieLens_Dataset\\credits.csv')
keywords = pd.read_csv('D:\\Shubhi\\DataScience\\MoviesRecommendation\\MovieLens_Dataset\\keywords.csv')
md = pd.read_csv('D:\\Shubhi\\DataScience\\MoviesRecommendation\\MovieLens_Dataset\\movies_metadata.csv')

C:\Users\Ridaan\AppData\Local\Temp\ipykernel_3648\1456730466.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  md = pd.read_csv('D:\\Shubhi\\DataScience\\MoviesRecommendation\\MovieLens_Dataset\\movies_metadata.csv')

In [2]:
md = md.drop([19730, 29503, 35587])

In [3]:
print(md.shape)
print(credits.shape)

(45463, 24)
(45476, 3)

In [4]:
md['id'] = md[md['id'].notnull()]['id'].astype('int')

md[md['id'] == 97995].transpose()

,13946,40276
adult,FALSE,FALSE
belongs_to_collection,NaN,NaN
budget,0,0
genres,"[{""id"": 35, ""name"": ""Comedy""}]","[{""id"": 35, ""name"": ""Comedy""}]"
homepage,NaN,NaN
id,97995,97995
imdb_id,tt0127834,tt0127834
original_language,en,en
original_title,Seven Years Bad Luck,Seven Years Bad Luck
overview,"After breaking a mirror in his home, superstit...","After breaking a mirror in his home, superstit..."
popularity,0.141558,0.141558
poster_path,/4J6Ai4C5YRgfRUTlirrJ7QsmJKU.jpg,/4J6Ai4C5YRgfRUTlirrJ7QsmJKU.jpg
production_companies,"[{""name"": ""Max Linder Productions"", ""id"": 38162}]","[{""name"": ""Max Linder Productions"", ""id"": 38162}]"
production_countries,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
release_date,06-02-1921,06-02-1921
revenue,0.0,0.0
runtime,62.0,62.0
spoken_languages,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}]"
status,Released,Released
tagline,NaN,NaN
title,Seven Years Bad Luck,Seven Years Bad Luck
video,False,False
vote_average,5.6,5.6
vote_count,4.0,4.0

In [5]:
md[md.duplicated()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1465,FALSE,NaN,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,16-02-1995,0.0,115.0,"[{""iso_639_1"": ""de"", ""name"": ""Deutsch""}]",Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
9165,FALSE,NaN,0,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",NaN,5511,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,...,25-10-1967,39481.0,105.0,"[{""iso_639_1"": ""fr"", ""name"": ""Français""}]",Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
9327,FALSE,NaN,0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 16, ""...",NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,23-09-2001,0.0,86.0,"[{""iso_639_1"": ""hi"", ""name"": ""हिन्दी""}]",Released,NaN,The Warrior,False,6.3,15.0
13375,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,26-12-2008,0.0,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
16764,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,26-12-2008,0.0,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
21165,FALSE,NaN,0,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 18, ""na...",NaN,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",...,27-02-1980,0.0,123.0,[],Released,NaN,The Tempest,False,0.0,0.0
21854,FALSE,NaN,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...",NaN,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,...,16-05-2013,455815.0,122.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,The Congress,False,6.4,165.0
22151,FALSE,NaN,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 27, ""nam...",http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,...,01-01-2007,0.0,89.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Days of Darkness,False,5.0,5.0
23044,FALSE,NaN,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,...,21-10-2009,0.0,90.0,"[{""iso_639_1"": ""da"", ""name"": ""Dansk""}]",Released,NaN,Brotherhood,False,7.1,21.0
24844,FALSE,NaN,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,...,29-01-2008,0.0,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Deal,False,5.2,22.0
28860,FALSE,NaN,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,168538,tt0084387,en,Nana,"In Zola""s Paris, an ingenue arrives at a tony ...",...,13-06-1983,0.0,92.0,[],Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
29374,FALSE,NaN,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",NaN,42495,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",...,04-02-1971,0.0,137.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Rumored,NaN,King Lear,False,8.0,3.0
40040,FALSE,NaN,980000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 14, ""name...",NaN,298721,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",...,02-09-2015,0.0,122.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Cemetery of Splendour,False,4.4,50.0

In [6]:
md['id'] = md[md['id'].notnull()]['id'].astype('int')
md = md[~md.duplicated()]
md.shape

(45450, 24)

In [7]:
print(md['id'].is_unique)
md.groupby('id').count().sort_values(by = 'adult', ascending=False).head(30)

False

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
id,,,,,,,,,,,,,,,,,,,,,
97995,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
77221,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
132641,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
22649,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
159849,2,2,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
99080,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
109962,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
265189,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
13209,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
110428,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
15028,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
84198,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
69234,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
12600,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
4912,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
10991,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
14788,2,0,2,2,2,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
108705,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108648,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108646,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108688,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
108668,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108639,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108636,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,0,0,1,1,1,1
108634,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108712,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
108664,1,0,1,1,0,1,1,1,0,1,...,1,1,1,1,1,0,1,1,1,1
108632,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108665,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108614,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1

In [59]:
credits[credits['id'] == 141971]

,cast,crew,id
13261,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971
13375,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971
16764,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971

In [45]:
smd = md.merge(credits, on = 'id')
smd.shape

(45538, 26)

In [53]:
smd.groupby('id').count().sort_values(by = 'adult', ascending=False).head(30)

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
id,,,,,,,,,,,,,,,,,,,,,
141971,9,0,9,9,0,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
152795,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
12600,4,4,4,4,4,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
97995,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
5511,4,0,4,4,0,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
42495,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
11115,4,0,4,4,4,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
25541,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
99080,4,0,4,4,0,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
13209,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
18440,4,0,4,4,4,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
84198,4,0,4,4,0,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
14788,4,0,4,4,4,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
22649,4,0,4,4,0,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
168538,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
119916,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
105045,4,0,4,4,0,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
10991,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
109962,4,0,4,4,0,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
298721,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
23305,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
265189,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
110428,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
132641,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
77221,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
159849,4,4,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
4912,4,0,4,4,0,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
15028,4,0,4,4,0,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
69234,4,0,4,4,0,4,4,4,4,4,...,4,4,4,0,4,4,4,4,4,4
9755,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [60]:
smd[smd['id'] == 141971]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
13308,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de..."
13309,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de..."
13310,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de..."
13311,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de..."
13312,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de..."
13313,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de..."
13314,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de..."
13315,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de..."
13316,FALSE,NaN,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,108.0,"[{""iso_639_1"": ""fi"", ""name"": ""suomi""}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de..."

In [39]:
credits[credits['id'] == 141971]

,cast,crew,id
13261,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971
13375,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971
16764,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971

In [61]:
md['id'].is_unique

False

In [62]:
credits['id'].is_unique

False

In [66]:
md = md[~md.duplicated()]

In [67]:
md['id'].is_unique

False

In [68]:
md.groupby('id').count().sort_values(by = 'adult', ascending=False).head(30)

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
id,,,,,,,,,,,,,,,,,,,,,
97995,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
77221,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
132641,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
22649,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
159849,2,2,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
99080,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
109962,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
265189,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
13209,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
110428,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
15028,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
84198,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
69234,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
12600,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
4912,2,0,2,2,0,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
10991,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
14788,2,0,2,2,2,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
108705,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108648,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108646,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108688,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
108668,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108639,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108636,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,0,0,1,1,1,1
108634,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108712,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
108664,1,0,1,1,0,1,1,1,0,1,...,1,1,1,1,1,0,1,1,1,1
108632,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108665,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
108614,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1