In [1]:
import pandas as pd

df = pd.read_csv('D:\\Shubhi\\DataScience\\Pokemon\\pokemon_data.csv')
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [3]:
df.shape

(800, 12)

In [105]:
name = 'Charizard'
print(f" Pokemon Name Filtering: {name.upper()}")
df[df['Name'] == name]

 Pokemon Name Filtering: CHARIZARD

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False

In [109]:
type = 'Dragon'
sort1 = 'Name'
sort2 = ['Attack', 'Defense']
print(f"All pokemons filtered by Type 1: {type.upper()} and sorted by : {sort2}")
print(f" Total no.{df[df['Type 1'] == type].shape[0]}")
#df[df['Type 1'] == type].sort_values(sort1)
df[df['Type 1'] == type].sort_values(sort2,ascending=[0,0])

All pokemons filtered by Type 1: DRAGON and sorted by : ['Attack', 'Defense']
 Total no.32

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True
425,384,Rayquaza,Dragon,Flying,105,150,90,150,90,95,3,True
673,612,Haxorus,Dragon,NaN,76,147,90,60,70,97,5,False
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False
408,373,Salamence,Dragon,Flying,95,135,80,110,80,100,3,False
161,149,Dragonite,Dragon,Flying,91,134,95,100,100,80,1,False
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True
493,445,Garchomp,Dragon,Ground,108,130,95,80,85,102,4,False
710,646,Kyurem,Dragon,Ice,125,130,90,130,90,95,5,True
706,643,Reshiram,Dragon,Fire,100,120,100,150,120,90,5,True
682,621,Druddigon,Dragon,NaN,77,120,90,60,90,48,5,False
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True
672,611,Fraxure,Dragon,NaN,66,117,70,40,50,67,5,False
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True
776,706,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
407,372,Shelgon,Dragon,NaN,65,95,100,60,50,50,3,False
419,381,Latios,Dragon,Psychic,80,90,80,130,110,110,3,True
492,444,Gabite,Dragon,Ground,68,90,65,50,55,82,4,False
671,610,Axew,Dragon,NaN,46,87,60,30,40,57,5,False
160,148,Dragonair,Dragon,NaN,61,84,65,70,70,70,1,False
417,380,Latias,Dragon,Psychic,80,80,90,110,130,110,3,True
406,371,Bagon,Dragon,NaN,45,75,60,40,30,50,3,False
775,705,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
365,334,Altaria,Dragon,Flying,75,70,90,70,105,80,3,False
491,443,Gible,Dragon,Ground,58,70,45,40,45,42,4,False
159,147,Dratini,Dragon,NaN,41,64,45,50,50,50,1,False
774,704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False

In [110]:
print("All Column Names")
df.columns

All Column Names

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [65]:
df.loc[df['Legendary']].sort_values(['Attack', 'Defense'],ascending=[0,0])
df.loc[df['Legendary']].shape
df.loc[df['Type 1'] == 'Fire'].shape

(52, 12)

In [94]:
print(f"Total no. of rows: {df.shape[0]}" )
print(f"Total no. of Legendary Pokemons: { df.loc[df['Legendary']].shape[0]}")
print(f"Total no. of non-legendary Pokemons: {df.loc[~df['Legendary']].shape[0]}" )

Total no. of rows: 800
Total no. of Legendary Pokemons: 65
Total no. of non-legendary Pokemons: 735

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True

In [114]:
type1 = input("Enter the Type 1 Pokemon: ") 
sort = ['Attack', 'Defense']
print(f"List of all Legendary {type1} Pokemons sort by {sort}")
df.loc[(df['Type 1'] == type1)  & (df['Legendary'])].sort_values(sort,ascending=[0,0])

Enter the Type 1 Pokemon: Ice
List of all Legendary Ice Pokemons sort by ['Attack', 'Defense']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
415,378,Regice,Ice,NaN,80,50,100,100,200,50,3,True

In [121]:
# type1 = input("Enter the Type 1 Pokemon: ") 
# gen = input("Enter the Generation: ") 

# print(f"List of all Type 1 {type1} and Generation {gen} Pokemons")

# df[(df['Generation'] == gen) & (df['Type 1'] == type1)]
type(df[df['Type 1'] == 'Dragon'])

TypeError: 'str' object is not callable